#page.find-door {
    .intro {
        padding: 0 1em;
    }
    .door-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr)); // 4 columns
        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(3, minmax(0, 1fr)); // 3 columns
        }
        text-align: center;
        .door-wrap {
            img {
                height: 31vh; // 3 rows
                @media screen and (max-width: 900px) {
                    height: 22vh; // 4 rows
                }
                margin: 0.5em 0;
            }
            &.tried {
                opacity: 0.5;
            }
            &:not(.tried) {
                &:hover {
                    filter: brightness(1.1);
                }
            }
        }
    }
    .modal {
        .guess-result {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 6em;
            @media screen and (max-width: 520px) {
                font-size: 4em;
            }
        }
        .guess-result-note {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.3em;
        }

    }
}
