@font-face {
    font-family: 'SuperMario256';
    src: url(../fonts/SuperMario256.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous-Regular.ttf) format('truetype');
    font-display: swap;
}

:root {
    --bg-body: #000;
    --bg-blur: rgba(0, 0, 0, 0.6);
    --text-color: rgb(240, 240, 240);
    --cursor-default: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
    --cursor-pointer: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

*, html, body {
    cursor: var(--cursor-default);
}

.hand, a, select, input, textarea, button, button * {
    cursor: var(--cursor-pointer) !important;
}

html, body, p, h1, h2, h3, h4, h5, input, button {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-body);
    color: var(--text-color);
    user-select: none;
}

.mario {
    font-family: 'SuperMario256', Helvetica, Arial, sans-serif;
    text-shadow:
        -1px 0px black,
        0px -1px black,
        1px 0px black,
        0px 1px black,
        6px 6px black,
    ;
    &.green {
        color: #22ee55;
    }
    &.red {
        color: #ff3333;
    }
}

a {
    color: cyan;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.bg-bricks {
    background-image: url('../img/bg-bricks.webp');
}
.bg-stars {
    background-image: url('../img/bg-stars.webp');
}
.bg-library, .bg-castle-sunset, .bg-castle-wall {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-castle-sunset {
    background-image: url('../img/bg-castle-sunset.webp');
}
.bg-castle-wall {
    background-image: url('../img/bg-castle-wall.webp');
}
.bg-library {
    background-image: url('../img/bg-library.webp');
    &.dark {
        background-image:
            linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.4)
            ),
            url('../img/bg-library.webp');
    }
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    overflow: auto;
    z-index: 1;
}

.intro {
    text-align: center;
}

.title {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-size: 5rem;
    text-shadow:
        -2px 0px black,
        0px -2px black,
        2px 0px black,
        0px 2px black,
        6px 6px black,
    ;
}

.paragraph {
    font-weight: bold;
    max-width: 800px;
    display: block;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    text-shadow:
        0 0 1px #000,  0 0 1px #000,  0 0 1px #000,  0 0 1px #000,
        0 0 2px #000,  0 0 2px #000,  0 0 2px #000,  0 0 2px #000,
    ;
    background-color: rgba(0, 0, 0, 0.7);
    display: table;
    // -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
    &.narrator {
        font-family: Righteous;
        font-size: 2.1rem;
        line-height: 2.1rem;
        font-variant: small-caps;
    }
    &.dialog {
        font-family: serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

:root {
    --btn-text-shadow:
        -1px 0px black,
        0px -1px black,
        1px 0px black,
        0px 1px black,
        4px 4px black;
}
.btn {
    font-size: 1.8rem;
    background-color: #007eff;
    border-radius: 1.1em;
    border: 1px solid lightblue;
    box-shadow: 3px 3px 0px #002549;
    color: white;
    font-family: 'SuperMario256', Helvetica, Arial, sans-serif;
    letter-spacing: 1;
    font-weight: bold;
    margin: 1rem;
    padding: 0.7em 1em 0.5em;
    text-shadow: var(--btn-text-shadow);
    user-select: none;
    &:hover {
        background-color: #18a4ff;
        border: 1px solid white;
        box-shadow: 5px 5px 0px #002549;
        text-shadow:
            -1px 0px black,
            0px -1px black,
            1px 0px black,
            0px 1px black,
            6px 6px black,
        ;
    }
    &.disabled {
        background-color: grey;
        text-shadow: var(--btn-text-shadow);
    }
}
.last {
    margin-bottom: 3rem;
}

input, textarea {
    padding: 0.5em 1em;
    font-family: Sans-Serif;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: black;
    color: #eee;
    border: 2px solid #eee;
    outline: none;
    &:focus {
        border-color: #a9f5fa;
    }
}

.address-widget, #network-widget {
    font-family: monospace;
    font-size: 1.4em;
    position: absolute;
    top: 0.8rem;
    &:hover {
        color: yellow;
        text-decoration: underline;
        cursor: var(--cursor-pointer);
    }
}
.address-widget, #network-widget .switch-btn {
    color: white;
}
.address-widget {
    right: 1rem;
}
#network-widget {
    left: 1rem;
}

.sui-error {
    font-size: 1rem;
    padding: 1em;
    font-family: monospace;
    background-color: var(--bg-blur);
    max-width: 500px;
    margin: 0 auto 1rem;
    border-radius: 1em;
    overflow-wrap: break-word;
}

.wizard-wrap {
    img {
        width: 260px;
        margin: 2rem;
        margin-bottom: 0;
    }
}

// Fade-in effect for texts. NOTE: buggy on Firefox.
@first-animation-delay: 0;
@animation-duration: 0;
@first-animation-delay: 1s;
@animation-duration: 2.5s;
.fade-in-1,
.fade-in-2,
.fade-in-3,
.fade-in-4,
.fade-in-5 {
    animation-name: fadeIn;
    animation-fill-mode: backwards;
    animation-duration: @animation-duration;
}
.fade-in-1 {
    animation-delay: @first-animation-delay;
}
.fade-in-2 {
    animation-delay: @first-animation-delay + 1*@animation-duration;
}
.fade-in-3 {
    animation-delay: @first-animation-delay + 2*@animation-duration;
}
.fade-in-4 {
    animation-delay: @first-animation-delay + 3*@animation-duration;
}
.fade-in-5 {
    animation-delay: @first-animation-delay + 4*@animation-duration;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
