:root {
    --bg-body: #202226;
    --bg-panel: #2a2d30;
    --bg-content: #303336;
    --bg-blur: rgba(0, 0, 0, 0.5);
    --text-color: rgb(224, 224, 224);
    --hand-pointer: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

.hand, a, button, select, input[type=checkbox], input[type=radio] {
    cursor: var(--hand-pointer);
}

html, body, p, h1, h2, h3, h4, h5, input, button {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-body);
    color: var(--text-color);
    user-select: none;
}

@font-face {
    font-family: 'SuperMario256';
    src: url(./SuperMario256.ttf) format('truetype');
    font-display: swap;
}

.mario {
    font-family: 'SuperMario256', Helvetica, Arial, sans-serif;
    text-shadow: 6px 6px black;
    &.green {
        color: #22ee55;
    }
    &.red {
        color: #ff3333;
    }
}

.bg-bricks {
    background-image: url('../img/bg-bricks.webp');
}
.bg-stars {
    background-image: url('../img/bg-stars.webp');
    .paragraph {
        background-color: var(--bg-blur);
    }
}
.bg-grass {
    background-image: url('../img/bg-grass.jpg');
}
.bg-library, .bg-castle-sunset, .bg-castle-wall {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-castle-sunset {
    background-image: url('../img/castle-sunset.webp');
}
.bg-castle-wall {
    background-image: url('../img/castle-wall.webp');
}
.bg-library {
    background-image: url('../img/bg-library.webp');
    &.dark {
        background-image:
            linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.4)
            ),
            url('../img/bg-library.webp');
    }
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    overflow: auto;
    z-index: 1;
}
.intro {
    text-align: center;
}
.title {
    overflow-wrap: anywhere;
    margin-top: 2em;
    font-size: 3.8em;
}
.btn {
    margin-top: 0.6em;
}
.paragraph {
    font-size: 1.8em;
    font-variant: small-caps;
    max-width: 800px;
    display: block;
    margin: 1em auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
}

input, textarea {
    padding: 0.5em 1em;
    font-family: Sans-Serif;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: black;
    color: #eee;
    border: 2px solid #eee;
    outline: none;
    &:focus {
        border-color: #ffff9a;
        border-color: #a9f5fa;
        color: #a9f5fa;
    }
}

.btn {
    background-color: #007eff;
    border-radius: 1em;
    border: 4px solid white;
    color: white;
    font-family: 'SuperMario256', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1;
    font-weight: bold;
    margin: 0 auto 2em;
    padding: 0.7em 1em 0.5em;
    text-shadow: 4px 4px black;
    user-select: none;
    &:hover {
        background-color: #0af;
        text-shadow: 5px 5px black;
        background-color: #09f;
    }
}

.speech-bubble {
    background: #fff;
    border-radius: 40px;
    color: #000;
    font-family: sans-serif;
    font-size: 1.125em;
    left: 50%;
    line-height: 1.5rem;
    padding: 24px;
    position: absolute;
    text-align: center;
    top: 1em;
    transform: translateX(-50%);
    min-width: 280px;
    max-width: 380px;
    box-sizing: border-box;
}

.speech-bubble:before {
    border-top: 12px solid #fff;
    border-right: 12px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 24px solid #fff;
    bottom: -24px;
    content: "";
    height: 0px;
    left: 32px;
    position: absolute;
    width: 0px;
}

.address-widget {
    background-color: var(--bg-blur);
    font-family: monospace;
    font-size: 1.4em;
    margin-right: 1rem;
    margin-top: 0.8rem;
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
        color: yellow;
        text-decoration: underline;
        cursor: var(--hand-pointer);
    }
}

.error {
    font-size: 1rem;
    padding: 1em;
    font-family: monospace;
    background-color: var(--bg-blur);
}

.fade-in-1,
.fade-in-2,
.fade-in-3,
.fade-in-4 {
  animation-name: fadeIn;
  animation-fill-mode: backwards;
  animation-duration: 0s; // TODO: remove
  animation-duration: 3s;
}
.fade-in-1 {
  animation-delay: 0s; // TODO: remove
  animation-delay: 1s;
}
.fade-in-2 {
  animation-delay: 0s; // TODO: remove
  animation-delay: 4s;
}
.fade-in-3 {
  animation-delay: 0s; // TODO: remove
  animation-delay: 7s;
}
.fade-in-4 {
  animation-delay: 0s; // TODO: remove
  animation-delay: 10s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
