:root {
    --bg-body: #202226;
    --bg-panel: #2a2d30;
    --bg-content: #303336;
    --text-color: rgb(224, 224, 224);
}

html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

.hand, a, button, select, input[type=checkbox], input[type=radio] {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

html, body, p, h1, h2, h3, h4, h5, input, button {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-body);
    color: var(--text-color);
    user-select: none;
}

@font-face {
    font-family: 'SuperMario256';
    src: url(./SuperMario256.ttf) format('truetype');
    font-display: swap;
}

.mario {
    font-family: 'SuperMario256', Helvetica, Arial, sans-serif;
    text-shadow: 6px 6px black;
    &.green {
        color: #22ee55;
    }
    &.red {
        color: #ff3333;
    }
}

.bg-bricks {
    // background-image: url('../img/halfdrygrass536.jpg');
    // background-image: url('../img/hedge.png');
    // background-image: url('../img/04pietrac4.png');
    background-image: url('../img/bricks.04mura.webp');
}
.bg-stars {
    background-image: url('../img/stars.webp');
}
.bg-grass {
    background-image: url('../img/gras364.jpg');
}

.modal {
    background-color: rgba(0, 0, 0, 0.74);
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    overflow: auto;
    .title {
        overflow-wrap: anywhere;
        margin-top: 0.8em;
        font-size: 3.8em;
    }
}
.paragraph {
    font-size: 1.8em;
    font-variant: small-caps;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #007eff;
    border-radius: 1em;
    border: 4px solid white;
    color: white;
    font-family: 'SuperMario256', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    letter-spacing: 1;
    font-weight: bold;
    margin: 0 auto 2.8em;
    padding: 0.7em 1em 0.5em;
    text-shadow: 4px 4px black;
    user-select: none;
    &:hover {
        background-color: #0af;
        text-shadow: 5px 5px black;
        background-color: #09f;
    }
}
