#door-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: center;
    margin-top: 2em;
    .door-wrapper {
        img {
            height: 250px;
            margin-bottom: -1em;
        }
    }
}
