#page.find-door {
    .door-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr)); // 4 columns
        @media screen and (max-width: 760px) {
            grid-template-columns: repeat(3, minmax(0, 1fr)); // 3 columns
        }
        text-align: center;
        padding-top: 2em;
        .door-wrap {
            img {
                height: 33vh; // 3 rows
                @media screen and (max-width: 760px) {
                    height: 25vh; // 4 rows
                }
                margin-bottom: -1em;
            }
        }
    }

    .modal {
        .guess-result {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 6em;
            @media screen and (max-width: 520px) {
                font-size: 4em;
            }
        }
        .paragraph {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .btn.primary {
            margin-top: 0.6em;
        }
    }

}
