#door-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 2em;
    text-align: center;
    .door-wrap {
        .door {
            width: 100%;
            &:hover {
                filter: brightness(1.1);
            }
        }
    }
    .torch-wrap {
        .torch {
            width: 100%;
        }
    }
}
